html, body, th, td {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #000;
}

/* paigutus */

.w_group {
    margin: 10px;
}

.w_descr {
    float: left;
    width: 100px;
    margin: 7px;
    clear: both;
}

.w_content {
    float: left;
}

.w_value > u {
    cursor: pointer;
    color: #0af;
    text-decoration: none;
    border-bottom: 1px dashed #0af;
}

.w_value > u:hover {
    color: #08d;
    border-bottom: 1px solid #08d;
}

.w_field {
    display: none;
}

.w_failed {
    color: #f00;
    border-color: #f00;
}

.w_empty {
    color: #a00;
}

/* vormi stiilid */

.w_element {
    padding: 5px;
    border: 1px solid #fff;
}

.w_element:hover {
    border: 1px solid #0ff;
}

.w_element:focus {
    border: 1px solid #0ff;
}
