html, body, th, td {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #000;
}

.w_group {
    margin: 10px;
}

.w_descr {
    float: left;
    margin: 7px;
    clear: both;
}

.w_text {
    float: left;
    width: 100px;
    height: 20px;
    border: 1px solid #000;
}

.w_text:hover {
    border: 1px solid #0ff;
}

.w_text:focus {
    border: 1px solid #0ff;
}
